 .usuarios {
     list-style: none;
 }

 .usuarios li {
     font-size: 24px;
     margin-bottom: 24px;
 }

 .App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.App .vitrines {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 1024px;
    margin: 0 auto;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 80px;
    background-color: #fff;
    min-width: 10px;
    margin: 80px auto 0;
    padding: 0;
    border-radius: 10px;
    border: 3px solid #000;
}

.container1 .titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 5px 5px 5px 5px;
    width: 37rem;
    padding: 0;
    background-color: #f2f07a;
    border-radius: 10px;
    border: 3px solid #000;
}

body {
    background-color: #fff;
    /*e4f8fe*/
}

.titulo {
    background-color: lightgrey;
    padding: 20px 40px;
}